<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Budget{% endblock %}</title>
    </head>
    <body>
        <nav>
            {% if app.user %}
                <strong>{{ app.user.email }}</strong>
                <a href="{{ path('app_logout') }}">Déconnexion</a>
            {% else %}
                <a href="{{ path('app_login') }}">Connexion</a>
                <a href="{{ path('app_register') }}">Inscription</a>
            {% endif %}
        </nav>

        <hr>

        {% for type, message in app.flashes %}
            {% for message in message %}
                <p><strong>{{ message }}</strong></p>
            {% endfor %}
        {% endfor %}

        {% block body %}{% endblock %}
    </body>
</html>
